<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport"
		content="width=device-width, 
				initial-scale=1.0"> 
	<title>Feedback Form with map</title> 
	<link rel="stylesheet"
		href="contact-us.component.scss"> 
	<link rel="stylesheet"
		href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		integrity= 
"sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer" /> 
</head> 

<body> 
	<div class="ffbox"> 
		<div class="ffbox1"> 
			<h1 class="gfg">FoodToOrder</h1> 
			<h2>Contact Us</h2> 
			<form (ngSubmit)="onSubmit()">
				<div class="form-group">
				  <label for="fullName">Full Name: </label>
				  <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" required>
				  <div *ngIf="errorMessage && fullName.trim() === ''" class="alert alert-danger">
					{{ errorMessage }}
				  </div>
				</div>
			  
				<div class="form-group">
				  <label for="email">Email Address: </label>
				  <input type="email" id="email" [(ngModel)]="email" name="email" required>
				  <div *ngIf="errorMessage && !validateEmail(email)" class="alert alert-danger">
					Please enter a valid email address.
				  </div>
				</div>
			  
				<div class="form-group">
				  <label for="mobile">Contact No: </label>
				  <input type="tel" id="mobile" [(ngModel)]="mobile" name="mobile" required>
				  <!-- <div *ngIf="errorMessage && !mobileRegex.test(mobile.trim())" class="alert alert-danger"> -->
					<!-- {{ errorMessage }}
				  </div> -->
				</div>
			  
				<div class="form-group">
				  <label for="msg">Write Message: </label>
				  <textarea id="msg" [(ngModel)]="msg" name="msg" rows="5" required></textarea>
				  <div *ngIf="errorMessage && msg.trim().length < 10" class="alert alert-danger">
					Please write a message with at least 10 characters
				  </div>
				</div>
			  
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
			  
		</div> 
		<div class="map-div"> 
			<iframe
        height="300"
        src="https://maps.google.com/maps?q=Tismo%20Technology%20Solutions&t=&z=13&ie=UTF8&iwloc=&output=embed"
        class=" " style="border:0;height: 100%; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
		</div> 
	</div> 
</body> 

</html>
