 <mat-tab-group>
    <mat-tab label="Restaurant"> 
      <mat-tab-group>
        <mat-tab label="View Restaurant">
          <app-view-restauarnt></app-view-restauarnt>
        </mat-tab>
        <mat-tab label="Add Restaurant">
           <app-add-restauarnt></app-add-restauarnt>
        </mat-tab>
        <mat-tab label="Edit Restaurant">
          <app-edit-restauarnt></app-edit-restauarnt>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Users">
      <mat-tab-group>
        <mat-tab label="View Users">
          <app-view-user></app-view-user>
        </mat-tab>
        <mat-tab label="Add Users">
          <app-add-user></app-add-user>
        </mat-tab>
        <mat-tab label="Edit Users">
           <app-update-user></app-update-user>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>


    <mat-tab label="Orders"> 
      <mat-tab-group>
        <mat-tab label="View Orders"> <app-view-order></app-view-order></mat-tab>
        <mat-tab label="Update Orders"><app-update-order></app-update-order>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
      
  </mat-tab-group>
 