<div class="feat bg-gray pt-5 pb-5" style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="section-head col-sm-12">
        <h4><span>Why Choose</span> Us?</h4>
        <p>When you choose us, you'll taste the difference that comes from 10 years of culinary expertise.
           We're seasoned veterans in the world of food delivery, understanding every nuance of the digital landscape. 
           Our expertise in online platforms, SEO, and social media ensures your satisfaction with every order. 
          Trust us to deliver more than just food — we bring a decade of dedication to your doorstep."</p>
      </div>
      <mat-accordion >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon class="material-icons large-icon">menu_book</mat-icon>
            <h6>Delicious Menu</h6>
          </mat-expansion-panel-header>
          <p>Explore our diverse menu crafted with the finest ingredients to satisfy your cravings with every bite.</p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon class="material-icons large-icon">delivery_dining</mat-icon>
            <h6>Quick Delivery</h6>
          </mat-expansion-panel-header>
          <p>Count on us for swift delivery, ensuring your favorite dishes arrive hot and fresh, right when you need them.</p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon class="material-icons large-icon">hourglass_bottom</mat-icon>
            <h6>24 x 7 User Support</h6>
          </mat-expansion-panel-header>
          <p>If our customer has any problem and any query we are always happy to help then.</p>
        </mat-expansion-panel>
      </mat-accordion>
      
    </div>
  </div>
</div>
<div class="rounded-image ">
  <img src="../../../assets/images/banner.png" alt="Your Image" width="68.5%" class="overlay"/>
</div>

