
<div class="container">
    <div *ngFor="let d of cartd.cartdish;let i= index" class="card">
        <div class="card-body" *ngIf="d.quantity>0">
            <div class="card-content" >
              <h5 class="card-title">{{ cartdishes[i].dName }}</h5>
              <p>Quantity - {{ d.quantity }}</p>
              <p>Price - {{ cartdishes[i].price }}</p>
              <p>Total - {{ cartdishes[i].price * d.quantity }}</p>
            </div>
            <a  class="btn btn-dark" (click)="SubQty(i)">-</a>
            <span>{{d.quantity }}</span>
            <a  class="btn btn-dark" (click)="AddQty(i)">+</a>
        </div>
    </div>
    <h5 >Total amount = {{total}}</h5>
    <br/>
</div>
