<mat-toolbar
  color="secondary"
  class="footer"
  style="
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 999; /* Ensure footer appears above other content */
  "
>
  <span class="footer-text" style=" margin-right: 10px">Connect with us:</span>
  <img src="../../assets/images/facebook.png" height="25" width="25" style="margin: 0 5px; cursor: pointer;"/>
  <img src="../../assets/images/instagram.png" height="25" width="25" style="margin: 0 5px; cursor: pointer;"/>
  <img src="../../assets/images/youtube.png" height="25" width="25" style="margin: 0 5px; cursor: pointer;"/>
  <img src="../../assets/images/linkedin.png" height="25" width="25" style="margin: 0 5px; cursor: pointer;"/>
  <img src="../../assets/images/twitter.png" height="25" width="25" style="margin: 0 5px; cursor: pointer;"/>
</mat-toolbar>
